<div class="row">
  <div class="span3">
    <h1>Licenses</h1>
  </div>
  <div class="span4">
    <div class="search pagination">
      <ul>
        <li>
          <%= search_form_for(License.search({})) do |f| %>
            <%= f.text_field :key_or_notes_cont %>
            <%= image_submit_tag(asset_path("icons/search.png")) %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="span1">
    <div class="new pagination">
      <ul><li><%= link_to icon_for('new'), new_license_path, { :title => 'New License' } %></li></ul>
    </div>
  </div>
  <div class="span14 pages">
    <%= paginate @licenses %>
  </div>
</div>

<table class="condensed-table zebra-striped bordered-table">
  <tr class="table-header">
    <th>Client</th>
    <th>License Key</th>
    <th>Start Date</th>
    <th>Renewal Date</th>
    <th>Servers</th>
    <th>Running Servers</th>
    <th>Trial</th>
    <th>Expired</th>
    <th>Action</th>
  </tr>

<% @licenses.each do |license| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= license.name %></td>
    <td><%= license.key %></td>
    <td><%= license.start_date_nice %></td>
    <td><%= license.renewal_date_nice %></td>
    <td><%= license.num_servers %></td>
    <td><%= license.servers.count %></td>
    <td class="center"><%= license.trial ? icon_for('star-gray', 'Trial') : icon_for('star', 'Premium') %></td>
    <td class="center"><%= license.expired ? icon_for('flag-red', 'Expired') : icon_for('flag-green', 'Valid') %></td>
    <td class="action"><%= link_to icon_for('show', 'Show'), license %> <%= link_to icon_for('edit', 'Edit'), edit_license_path(license) %> <%= link_to icon_for('delete', 'Delete'), license, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
