<div class="row">
  <div class="span3">
    <h1>Licenses</h1>
  </div>
  <div class="span3">
    <%= link_to 'New License', new_license_path, { :class => 'btn large primary' } %>
  </div>
</div>

<table class="condensed-table zebra-striped bordered-table">
  <tr class="table-header">
    <th>Client</th>
    <th>License Key</th>
    <th>Start Date</th>
    <th>Renewal Date</th>
    <th>Servers</th>
    <th>Running Servers</th>
    <th>Trial</th>
    <th>Expired</th>
    <th>Action</th>
  </tr>

<% @licenses.each do |license| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= license.name %></td>
    <td><%= license.key %></td>
    <td><%= license.start_date_nice %></td>
    <td><%= license.renewal_date_nice %></td>
    <td><%= license.num_servers %></td>
    <td><%= license.servers.count %></td>
    <td><%= image_for(license.trial) %></td>
    <td><%= image_for(license.expired) %></td>
    <td class="action"><%= link_to icon_for('show'), license %> <%= link_to icon_for('edit'), edit_license_path(license) %> <%= link_to icon_for('delete'), license, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
