<div class="row">
  <div class="span3">
    <h2>License Page</h2>
  </div>
  <div class="span2">
    <div class="new pagination">
      <ul>
        <li><%= link_to icon_for('back'), licenses_path %></li>
        <li><%= link_to icon_for('edit'), edit_license_path(@license) %></li>
      </ul>
    </div>
  </div>
</div>

<div class="row show">
  <table class="condensed-table zebra-striped bordered-table content-center">
    <thead>
      <tr>
        <th>Client</th>
        <th>License Key</th>
        <th>Start Date</th>
        <th>Renewal Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @license.client.try(:name_or_email) || '-' %></td>
        <td><%= @license.key || '-' %></td>
        <td><%= format_date(@license.start_date, '%b %d, %Y') || '-' %></td>
        <td><%= format_date(@license.renewal_date, '%b %d, %Y') || '-' %></td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>Number of Servers</th>
        <th>Trial</th>
        <th>Expired</th>
        <th>Renewal Reminders</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @license.num_servers || 0 %></td>
        <td><%= image_for(@license.trial) || '-' %></td>
        <td><%= image_for(@license.expired) || '-' %></td>
        <td><%= @license.renewal_reminders || 0 %></td>
      </tr>
    </tbody>
  </table>

  <% if @license.notes.present? %>
    <p><strong>Note: </strong><%= @license.notes %></p>
  <% end %>
</div>

<% details = @license.servers.count > 15 %>
<div class="row"><div class="span3"><h3>Client</h3></div></div>
<%= render 'clients/index', :clients => @license.client.present? ? [@license.client] : [], :table_id => 'clients', :info => false, :filter => false, :paginate => false, :length_change => false %>
<div class="row"><div class="span3"><h3>Payments</h3></div></div>
<%= render 'payments/index', :payments => @license.payments, :table_id => 'payments', :info => false, :filter => false, :paginate => false, :length_change => false %>
<div class="row"><div class="span3"><h3>Servers</h3></div></div>
<%= render 'servers/index', :servers => @license.servers, :table_id => 'servers', :info => details, :filter => details, :paginate => details, :length_change => details %>
