<div class="row">
  <div class="span5">
    <h1>Payment Gateways</h1>
  </div>
  <div class="span1">
    <div class="new pagination">
      <ul><li><%= link_to icon_for('new'), new_payment_gateway_path, { :title =>  'New Payment Gateway' } %></li></ul>
    </div>
  </div>
</div>

<table class="condensed-table zebra-striped bordered-table">
  <tr class="table-header">
    <th>Name</th>
    <th>Description</th>
    <th>Disabled</th>
    <th>Actions</th>
  </tr>

<% @payment_gateways.each do |payment_gateway| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= payment_gateway.website.present? ? link_to(payment_gateway.name, payment_gateway.website) : payment_gateway.name %></td>
    <td class="text"><%= payment_gateway.description %></td>
    <td class="center"><%= image_for(payment_gateway.disabled) %></td>
    <td class="action"><%= link_to icon_for('show', 'Show'), payment_gateway %> <%= link_to icon_for('edit', 'Edit'), edit_payment_gateway_path(payment_gateway) %> <%= link_to icon_for('delete', 'Delete'), payment_gateway, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
