<% servers ||= [] %>
<% table_id ||= 'servers' %>
<% unless defined?(info); info = true; end %>
<% unless defined?(filter); filter = true; end %>
<% unless defined?(paginate); paginate = true; end %>
<% unless defined?(length_change); length_change = true; end %>

<% if servers.count > 0 %>
  <%= javascript_tag do %>
    jQuery(document).ready(function() {
    jQuery('#<%= table_id %>').dataTable({
        "sDom": "<'row'<'span4'l><'span5'f><'span7'p>r>t<'row'<'span8'i>>",
        "bInfo": <%= info %>,
        "bFilter": <%= filter %>,
        "bPaginate": <%= paginate %>,
        "bLengthChange": <%= length_change %>,
        "sPaginationType": "bootstrap"
      });
      jQuery.extend( jQuery.fn.dataTableExt.oStdClasses, {
        "sSortAsc": "header headerSortDown",
        "sSortDesc": "header headerSortUp",
        "sSortable": "header"
      });
    });
  <% end %>

  <table class="condensed-table zebra-striped bordered-table" id="<%= table_id %>">
    <thead>
      <tr class="table-header">
        <th>Email</th>
        <th>License</th>
        <th>Valid</th>
        <th>Version</th>
        <th>Revision</th>
        <th>Trial</th>
        <th>MAC Address</th>
        <th>IP Address</th>
        <th>Python</th>
        <th>Squid</th>
        <th>OS</th>
        <th>System/Arch</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
  <% servers.each do |server| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= server.email.first(48) %></td>
      <td><%= server.licensee_name == server.email ? '-' : server.licensee_name %></td>
      <td><%= server.license_valid? ? 'Yes' : 'No' %></td>
      <td><%= server.version %></td>
      <td><%= server.revision %></td>
      <td class="center"><%= server.trial ? 'Yes' : 'No' %></td>
      <td><%= (server.macs.present? and server.macs.size>MAX_MAC_LENGTH) ? raw("<abbr title='#{server.macs}'>#{server.macs.first(MAX_MAC_LENGTH)}</abbr>") : server.macs%></td>
      <td><%= (server.ips.present? and server.ips.size > MAX_MAC_LENGTH) ? raw("<abbr title='#{server.ips}'>#{server.ips.first(MAX_MAC_LENGTH)}</abbr>") : server.ips %></td>
      <td><%= server.python %></td>
      <td><%= server.squid %></td>
      <td><%= "#{server.os_name.try(:titleize)} #{server.os_version}" %></td>
      <td><%= server.system %> <%= server.arch %></td>
      <td><%= server.created_at.strftime('%b %d, %Y %H:%M') %></td>
      <td><%= server.updated_at.strftime('%b %d, %Y %H:%M') %></td>
      <td class="action"><%= link_to icon_for('show', 'Show'), server %> <%= link_to icon_for('edit', 'Edit'), edit_server_path(server) %> <%= link_to icon_for('delete', 'Delete'), server, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
    <tbody>
  </table>
<% else %>
  <p>No data available.</p>
<% end %>
