<h1>Listing servers</h1>

<table cellpadding="0">
  <tr class="table-header">
    <th>Email</th>
    <th>License</th>
    <th>Client</th>
    <th>Version</th>
    <th>Revision</th>
    <th>Trial</th>
    <th>Macs</th>
    <th>Ips</th>
    <th>Python</th>
    <th>Squid</th>
    <th>OS</th>
    <th>OS ID</th>
    <th>System</th>
    <th>Arch</th>
    <th>Created</th>
    <th>Updated</th>
    <th>Action</th>
  </tr>

<% @servers.each do |server| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= server.email %></td>
    <td><abbr title='<%= "#{server.licensee_full_name} (#{server.licensee_email})" %>'><%= server.licensee_name %></abbr></td>
    <td><abbr title='<%= "#{server.client_full_name} (#{server.client_email})" %>'><%= server.client_name %></abbr></td>
    <td><%= server.version %></td>
    <td><%= server.revision %></td>
    <td><%= image_for(server.trial) %></td>
    <td><%= (server.macs.present? and server.macs.size>MAX_MAC_LENGTH) ? raw("<abbr title='#{server.macs}'>#{server.macs.first(MAX_MAC_LENGTH)}</abbr>") : server.macs%></td>
    <td><%= (server.ips.present? and server.ips.size > MAX_MAC_LENGTH) ? raw("<abbr title='#{server.ips}'>#{server.ips.first(MAX_MAC_LENGTH)}</abbr>") : server.ips %></td>
    <td><%= server.python %></td>
    <td><%= server.squid %></td>
    <td><%= "#{server.os_name} #{server.os_version}" %></td>
    <td><%= server.os_id %></td>
    <td><%= server.system %></td>
    <td><%= server.arch %></td>
    <td><%= server.created_at.strftime('%b %d') %></td>
    <td><%= server.updated_at.strftime('%b %d %H:%M:%S') %></td>
    <td class="action"><%= link_to icon_for('show'), server %> <%= link_to icon_for('edit'), edit_server_path(server) %> <%= link_to icon_for('delete'), server, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Server', new_server_path %>
