<ul class="nav">
  <li class=<%= "active" if controller.controller_name == 'clients' %>><%= link_to 'Clients', clients_path %></li>
  <li class=<%= "active" if controller.controller_name == 'licenses' %>><%= link_to 'Licenses', licenses_path %></li>
  <li class=<%= "active" if controller.controller_name == 'servers' %>><%= link_to 'Servers', servers_path %></li>
  <li class=<%= "active" if controller.controller_name == 'payments' %>><%= link_to 'Payments', payments_path %></li>
  <li class=<%= "active" if controller.controller_name == 'payment_gateways' %>><%= link_to 'Payment Gateways', payment_gateways_path %></li>
  <li class=<%= "active" if controller.controller_name == 'business_types' %>><%= link_to 'Business Types', business_types_path %></li>
</ul>
