<div class="menu-item first"><%= link_to 'Clients', clients_path %></div>
<div class="menu-item"><%= link_to 'Licenses', licenses_path %></div>
<div class="menu-item"><%= link_to 'Servers', servers_path %></div>
<div class="menu-item"><%= link_to 'Payment Gateways', payment_gateways_path %></div>
<div class="menu-item"><%= link_to 'Business Types', business_types_path %></div>
