<ul class="nav">
  <li><%= link_to 'Clients', clients_path %></li>
  <li><%= link_to 'Licenses', licenses_path %></li>
  <li><%= link_to 'Servers', servers_path %></li>
  <li><%= link_to 'Payment Gateways', payment_gateways_path %></li>
  <li><%= link_to 'Business Types', business_types_path %></li>
</ul>
