<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div class="row">
      <div class="span14 offset1">
        <div id="error_explanation" class="alert-message block-message error">
          <h3><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h3>

          <ul>
          <% @client.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row show-grid">
    <div class="span6">
      <div class="clearfix">
        <%= f.label :name %>
        <div class="input"><%= f.text_field :name %></div>
      </div>
      <div class="clearfix">
        <%= f.label :email %>
        <div class="input"><%= f.text_field :email %></div>
      </div>
      <div class="clearfix">
        <%= f.label :company %>
        <div class="input"><%= f.text_field :company %></div>
      </div>
      <div class="clearfix">
        <%= f.label :other_emails, 'Other Emails' %>
        <div class="input"><%= f.text_field :other_emails %></div>
      </div>
      <div class="clearfix">
        <%= f.label :business_type_id, 'Business Type' %>
        <div class="input"><%= f.select :business_type_id, BusinessType.all.map{ |b| [b.name, b.id] }, { :include_blank => 'Select Business Type' } %></div>
      </div>
      <div class="clearfix">
        <%= f.label :expired %>
        <div class="input"><%= f.check_box :expired %></div>
      </div>
    </div>

    <div class="span6">
      <div class="clearfix">
        <%= f.label :city %>
        <div class="input"><%= f.text_field :city %></div>
      </div>
      <div class="clearfix">
        <%= f.label :state %>
        <div class="input"><%= f.text_field :state %></div>
      </div>
      <div class="clearfix">
        <%= f.label :country_id %>
        <div class="input"><%= f.select :country_id, Country.all.map{ |c| [c.name, c.id] }, { :include_blank => 'Select Country' } %></div>
      </div>
      <div class="clearfix">
        <%= f.label :payment_gateway_id, 'Payment Gateway' %>
        <div class="input"><%= f.select :payment_gateway_id, PaymentGateway.all.map{ |p| [p.name, p.id] }, { :include_blank => 'Select Payment Gateway' } %></div>
      </div>
      <div class="clearfix">
        <%= f.label :parent_id, 'Reseller' %>
        <div class="input"><%= f.select :parent_id, Client.reseller.all.map{ |c| [c.name || c.email, c.id] }, { :include_blank => 'Select Reseller' } %></div>
      </div>
      <div class="clearfix">
        <%= f.label :reseller %>
        <div class="input"><%= f.check_box :reseller %></div>
      </div>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :notes %>
    <div class="input"><%= f.text_area :notes, { :class => 'largearea' } %></div>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn primary' %>
  </div>
<% end %>
