<div class="row">
  <div class="span2">
    <h1>Clients</h1>
  </div>
  <div class="span3">
    <%= link_to 'New Client', new_client_path, { :class => 'btn large primary' } %>
  </div>
</div>

<table class="condensed-table zebra-striped bordered-table">
  <tr class="table-header">
    <th>Name</th>
    <th>Email</th>
    <th>Country</th>
    <th>Other emails</th>
    <th>Expired</th>
    <th>Reseller</th>
    <th>Reseller Name</th>
    <th>Flag</th>
    <th>Actions</th>
  </tr>

<% @clients.each do |client| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= client.name %></td>
    <td><abbr title="<%= client.email %>"><%= client.email.last(48) %></abbr></td>
    <td><%= client.country.try(:name) %></td>
    <td><abbr title="<%= client.other_emails %>"><%= (client.other_emails || '').last(64) %></abbr></td>
    <td><%= image_for(client.expired) %></td>
    <td><%= image_for(client.reseller) %></td>
    <td><%= client.parent.try(:name) %></td>
    <td><abbr title="<%= client.message %>"><%= image_for(client.flag) %><abbr></td>
    <td class="action"><%= link_to icon_for('show'), client %> <%= link_to icon_for('edit'), edit_client_path(client) %> <%= link_to icon_for('delete'), client, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

