<div class="row">
  <div class="span5">
    <h1>Business Types</h1>
  </div>
  <div class="span1">
    <div class="new pagination">
      <ul><li><%= link_to icon_for('new'), new_business_type_path, { :title => 'New Business Type' } %></li></ul>
    </div>
  </div>
</div>

<table class="condensed-table zebra-striped bordered-table">
  <tr class="table-header">
    <th>Name</th>
    <th>Description</th>
    <th>Disabled</th>
    <th>Action</th>
  </tr>

<% @business_types.each do |business_type| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= business_type.name %></td>
    <td class="text"><%= business_type.description %></td>
    <td class="center"><%= image_for(business_type.disabled) %></td>
    <td class="action"><%= link_to icon_for('show', 'Show'), business_type %> <%= link_to icon_for('edit', 'Edit'), edit_business_type_path(business_type) %> <%= link_to icon_for('delete', 'Delete'), business_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
