<div class="row">
  <div class="span5">
    <h1>Business Types</h1>
  </div>
  <div class="span4">
    <%= link_to 'New Business Type', new_business_type_path, { :class => 'btn large primary' } %>
  </div>
</div>

<table class="condensed-table zebra-striped bordered-table">
  <tr class="table-header">
    <th>Name</th>
    <th>Description</th>
    <th>Disabled</th>
    <th>Action</th>
  </tr>

<% @business_types.each do |business_type| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= business_type.name %></td>
    <td class="text"><%= business_type.description %></td>
    <td><%= image_for(business_type.disabled) %></td>
    <td class="action"><%= link_to icon_for('show'), business_type %> <%= link_to icon_for('edit'), edit_business_type_path(business_type) %> <%= link_to icon_for('delete'), business_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
