<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @business_type.name %>
</p>

<p>
  <b>Description:</b>
  <%= @business_type.description %>
</p>

<p>
  <b>Disabled:</b>
  <%= @business_type.disabled %>
</p>


<%= link_to 'Edit', edit_business_type_path(@business_type) %> |
<%= link_to 'Back', business_types_path %>
