<%= paginator.render do -%>
  <div class="pagination">
    <ul>
      <%= first_page_tag -%>
      <%= prev_page_tag -%>
      <% each_page.select(&:inside_window?).each do |page| %><%= page_tag page -%><% end %>
      <%= next_page_tag -%>
      <%= last_page_tag -%>
    </ul>
  </div>
<% end %>
