<!DOCTYPE html>
<html>
<head>
  <title><%= controller.controller_name.titleize %> | VCSIDB</title>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag params[:controller] unless params[:controller] == 'devise/sessions' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
    <div class="topbar">
      <div class="fill">
        <div class="container-fluid">
          <a class="brand" href="/">CSIDB</a>
          <%= render "shared/menu" %>
        </div>
      </div>
    </div>
  <div class="container-fluid container-data">
    <div class="content-fluid">
      <div class="row">
        <div class="span16">
          <% if notice.present? %>
            <div class="alert-message success">
              <a class="close" href="#" onClick="jQuery(this).parent().fadeOut(); return false;">×</a>
              <p><%= notice %></p>
            </div>
          <% end %>
          <% if alert.present? %>
            <div class="alert-message error">
              <a class="close" href="#" onClick="jQuery(this).parent().fadeOut(); return false;">×</a>
              <p><%= alert %></p>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
